@charset "utf-8";
html {
    background-color: white;
}
body {
    margin: 0;
    font-size: 16px;
}

.introduction {
    text-align: center;
}

.scroll {
    width: 500px;
    height: 150px;
    overflow: auto;
    margin: auto;
}

.store {
    text-align: center;
}

.matching_store {
    height: auto;
    width: auto;

    
}

@media screen and (max-width: 414px) {
    .bothEnds_padding {
        padding-left: 2em;
        padding-right: 2em;
    }
    .scroll {
        display: block;
        width: auto;
    }
    .matching_store h3 {
        text-align: left;
    }
    .matching_store p {
        text-align: right;
    }
    .button input {
        background-color: #bcf8f8;
        display: block;
        margin-left: auto;
        width: 100%;
    }
    .button a {
        text-decoration-line: none;
    }
}